<div class="page">

    @{
        ViewBag.Title = "Мои заказы";
        ViewBag.Message = "Детали заказа №";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h4><i>@ViewBag.Message @ViewBag.Id</i></h4>
    </hgroup>

  
        <table align="center" border="1" style="margin: auto;word-wrap: break-word;width:80%;border-collapse:collapse;border:1px solid #591E23;color:#000000;" cellpadding="3" cellspacing="2">
            <tr style="background-color:#bc8572; color:white;">
                <td align="center"><b>Книга</b></td>
                <td align="center"> <b>Цена </b> </td>
                <td align="center"><b>Количество</b></td>
                
            </tr>

            @foreach (var c in (List<MvcApplication1.Controllers.HomeController.OrderInfo>)ViewBag.Detail)
            {
                <tr>
                    <td>@c.BookAuthor "@c.BookTitle"</td>
                    <td>@c.BookPrice.00</td>
                    <td>@c.Quantity</td>
                </tr>
            }
            <tr style="background-color:#bc8572; color:white;">
                <td align="right"><b>Итого: </b></td>
                <td align="center"><b>@ViewBag.Total.00</b></td>
                <td></td>
            </tr>
        </table>
    <br />
    <br />
    <br />
    <a href="/Home/MyOrders">Вернуться к заказам</a>

</div>
